<!DOCTYPE html>
<html>
  <head>
    <title>Basic Login With Sails</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
